<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>React.parts – A catalog of React components</title>
  <meta name="description" content="An unofficial catalog of React components for both Web and Native.">

  <%- cachify_css("/app.min.css") %>
</head>
<body>
  <div id="container"><%- output %></div>

  <script>
    window.initialData = <%- initialData %>;
  </script>
  <%- cachify_js("/app.min.js") %>
</body>
</html>
